.theme-light {
  --page-background-color: #f5f6f9;
  --card-background-color: white;
  --button-background-color: #47cdff;
  --header-background-color: white;
  --text-default-color: #222;
  --text-accent-color: #47cdff;
  --text-accent-light-color: #8ae2fe;
  --text-muted-color: rgba(0, 0, 0, 0.3);
  --text-muted-light-color: rgba(255, 255, 255, 0.1);
  --text-muted-light-color: #e1e6e8;
}

.theme-dark {
  --page-background-color: #17181e;
  --card-background-color: #1f2027;
  --button-background-color: #59b6f9;
  --header-background-color: #1f2027;
  --text-default-color: #fff;
  --text-muted-color: rgba(255, 255, 255, 0.5);
  --text-muted-light-color: rgba(255, 255, 255, 0.3);
  --text-accent-color: #47cdff;
  --text-accent-light-color: #8ae2fe;
}

.button {
  background-color: var(--button-background-color);
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-decoration: none;
  color: white;
}

.theme-light .button {
  box-shadow: 0 2px 7px 0 #b0eaff;
}

.theme-dark .button {
  box-shadow: 0 2px 7px 0 #00658b;
}

.card {
  background-color: var(--card-background-color);
  border-radius: 0.5rem;
  padding: 1.25rem;
  --tw-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.08);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

body, button {
  color: var(--text-default-color);
}

.section {
  padding-left: 2rem;
  padding-right: 2rem;
}
